:root {
  --theme-green: #0adfaa;
  --bg-black: #000;
  --card-bg: rgba(255, 255, 255, 0.05);
  --text-white: #fff;
  --text-gray: #ccc;
  --danger-red: #ff4d4d;
}

body {
  margin: 0;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}